<mat-form-field appearance="fill" class="prefix">
  <mat-label>Prefix</mat-label>
  <input matInput placeholder="+48" [formControl]="numberPrefixControl" />
  <mat-error *ngIf="numberPrefixControl.errors">Wrong Prefix</mat-error>
</mat-form-field>
<mat-form-field appearance="fill" class="number">
  <mat-label>Phone Number</mat-label>
  <input matInput placeholder="123456789" [formControl]="numberControl" />
  <mat-error *ngIf="numberControl.errors"
    >Phone number should have 9 characters</mat-error
  >
</mat-form-field>
